body{
    text-align: center;
    justify-content: center;
    align-self: center;
    border: 3px none #707070;
    background-color: #FFEFEF;
    display: wrap;


}



button[id=start] {
    width: 300px;
    font-size:xx-large;
    margin: 30px;
    text-decoration: none;
    background-color: #DBD7D8;
    border: 3px solid #DBD7D8;
    color: white;
    padding: 10px 12px;

}



h1 {
    color: #EAC8C7;
    padding: 30px;
    font-size: 44px;
    font-family: 'Allerta';
}

